       body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-color: #282c34;
            color: white;
        }
        #calculator {
            background-color: #333;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
        #display {
            width: 100%;
            height: 60px;
            font-size: 24px;
            margin-bottom: 10px;
            padding: 10px;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            background-color: #444;
            color: white;
            outline: none;
        }
        button {
            width: 60px;
            height: 60px;
            font-size: 18px;
            margin: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #61dafb;
            color: #282c34;
            outline: none;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #4fa3d1;
        }