body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  color: white;
  overflow: hidden;
}

h1{
  font-size: 25px;
  text-align: center;
}

#calculator{
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 50%;
}

#display{
  margin: 10px;
  width: 90%;
  font-size: 30px;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 200px;
  height: 70px;
  margin: 3px;
}

@media screen and (max-width: 1238px) {
  .button{
    width: 150px;
    height: 60px;
  }
  
}

@media screen and (max-width: 944px) {
  .button{
    width: 120px;
    height: 60px;
  }
  
}

@media screen and (max-width: 762px) {
  .button{
    width: 100px;
    height: 55px;
  }
  
}

@media screen and (max-width: 652px) {
  .button{
    width: 80px;
    height: 50px;
  }
  
}

@media screen and (max-width: 525px) {
  .button{
    width: 65px;
    height: 50px;
  }
  
}

@media screen and (max-width: 430px) {
  #calculator{
    width: 90%;
  }

  .button{
    width: 25%;
    height: 60px;
  }
  
}

